<div>
  <!-- Employee Avatar -->
  <div class='gradient-container'>
    <img height='70' width='70' class='img-circle pull-left margin-right-15' ng-click='edit_avatar(edit_employee);' data-toggle='modal' data-target='#upload_employee_avatar_modal' data-backdrop='static' alt='Avatar' ng-src='{{edit_employee.user.avatar.asset.file_path || $root.vendor.mark.asset.file_path || '/assets/planomatic_mark.jpg'}}'>
    <div class='gradient sm-circle-gradient'>
      <p class='gradient-message-24'>Update</p>
    </div>
  </div>
  <!-- Actions -->
  <h2 class='margin-top-10' ng-class='!edit_employee.user.model.active ? 'text-red' : '''>Edit
    <div class='pull-right margin-top--5'>
      <input ng-if='employee_changed && edit_employee.user.person.email' class='btn btn-success' type='submit' value='Update'>
      <a ng-if='employee_changed' class='btn btn-danger' ng-click='update_edit_employee_to(original_employee)'>Revert</a>
      <a class='btn btn-primary' ng-click='new()'><i class='fa fa-times'></i></a>
    </div>
  </h2>
</div>
<!-- Employee's Full Name -->
<div>
  <h3 class='margin-top-10' ng-class='!edit_employee.user.model.active ? 'text-red' : '''>
    {{edit_employee.user.person.first_name}}&nbsp;{{edit_employee.user.person.last_name}}
    <span ng-if='!edit_employee.user.model.active && $root.session.access.permissions.employees.dispose' ng-mouseenter='show = true' ng-mouseleave='show = false'>
      <a ng-show='!show' class='btn btn-danger margin-left-10 margin-top--5 pull-right' data-toggle='modal' data-target='#confirm_activate_employee_modal'>Deactive</a>
      <a ng-show='show' class='btn btn-success margin-left-10 margin-top--5 pull-right' data-toggle='modal' data-target='#confirm_activate_employee_modal'>Activate</a>
    </span>
    <span ng-if='!edit_employee.user.model.active && !$root.session.access.permissions.employees.dispose' ng-mouseenter='show = true' ng-mouseleave='show = false' class='text-red pull-right'>
      Deactive
    </span>
  </h3>
</div>
<!-- Form Tabs -->
<ul class='nav nav-tabs'>
  <li class='active'><a data-target='#edit_employee_details_tab' data-toggle='tab'>Details</a></li>
  <li ng-if='(edit_employee.user.person.email)'><a data-target='#edit_employees_roles_tab' data-toggle='tab'>Roles</a></li>
  <li ng-if='(edit_employee.user.person.email)'><a data-target='#edit_employees_actions_tab' data-toggle='tab'>Actions</a></li>
</ul>
<!-- Tab Content -->
<div class='tab-content'>
  <!-- Employee's Details -->
  <div class='tab-pane active' id='edit_employee_details_tab'>
    <br>
    <div class='row'>
      <div class='form-group col-xs-6'>
        <label for='user.person.first_name'>First Name:</label>
        <input class='form-control' type='text' ng-model='edit_employee.user.person.first_name' name='employee[user_attributes][person_attributes][first_name]' ng-change='change()'>
      </div>
      <div class='form-group col-xs-6'>
        <label for='user.person.last_name'>Last Name:</label>
        <input class='form-control' type='text' ng-model='edit_employee.user.person.last_name' name='employee[user_attributes][person_attributes][last_name]' ng-change='change()'>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <label for='user.person.email'>Email:</label>
        <input slugify class='form-control' type='text' ng-model='edit_employee.user.person.email' name='employee[user_attributes][person_attributes][email]' ng-change='change()'>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <label for='user.password'>Password:</label>
        <input class='form-control' type='password' ng-model='edit_employee.user.model.password' name='employee[user_attributes][password]' ng-change='change()'>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <label for='language'>Language:</label>
        <select class='form-control' ng-model='edit_employee.user.model.language' name='employee[user_attributes][language]' ng-change='change()'>
          <option value='en'>English</option>
          <option value='sp'>Spanish</option>
        </select>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <label for='time_zone'>Time Zone:</label>
        <select class='form-control' ng-model='edit_employee.user.model.time_zone' name='employee[user_attributes][time_zone]' ng-change='change()'>
          <option value='pst'>Pacific Standard Time</option>
          <option value='mst'>Mountain Standard Time</option>
          <option value='cst'>Central Standard Time</option>
          <option value='est'>Eastern Standard Time</option>
        </select>
      </div>
    </div>
    <div class='row'>
      <div class='form-group col-xs-12'>
        <label for='department'>Department:</label>
        <select name='employee[department_id]' ng-model='edit_employee.model.department_id' ng-change ='change()' class='form-control' ng-options='department.id as department.name for department in $root.vendor.departments'>
          <option value=''>None</option>
        </select>
      </div>
    </div>
  </div>
</div>
