<!-- Parallax Intro -->
<div class="parallax bg-mountains">
  <div class="text-vertical-center caption">
    <img width="160" src="assets/alex" class="img-rounded">
    <h1>Alex McRitchie</h1>
    <h3>Web Developer</h3>
    <h4>Ruby on Rails - AngularJS</h4>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</div>

<!-- Parallax Demo -->
<section id="about"><br></section>
<section>
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h2 style="text-align:center;">Skills</h4>
    <p style="text-align:center;">Ruby on Rails - AngularJS - jQuery - AJAX - HTML5 - CSS3 - Bootstrap - Git - AWS - Active Record - PostgreSQL - MySQL - SQL</p>
    <br>
    <h3 style="text-align:center;">About</h3>
    <p>I have been a professional web developer for over two years.  From the server to the HTML I enjoy every aspect of web development.  I specialize in Ruby on Rails based apps using Active Record and PostgreSQL.  When handling client side I spend most my time in AngularJS but I really enjoy the syntax of all JavaScript frameworks, including backend frameworks like NodeJS.  I am a hard worker and believe in a comment for each line of code.  Below are a couple examples of applications I have writen.</p>
    <br>
    <br>
    <a href="#planoadmin" style="text-decoration: none; color: #777;">
    <h6 style="text-align:center; margin-bottom: -5px;">Applications</h6>
    <i style="font-size: 40px;" class="fa fa-angle-double-down fa-6 fa-stack-1x"></i>
    </a>
    <br>
    <br>
  </div>
</section>

<style>
  .shaded-caption{
      background: rgba(0, 0, 0, 0.5);
  }
  .innerr{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

</style>

<!-- PlanoAdmin Title -->
<section id="planoadmin"><br></section>
<section class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoAdmin
      <span><img width="35" src="assets/angular-logo"></span>
    </h2>
    <h4 style="text-align:center;">Employee Management</h4>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planoadmin">
  <div class="caption shaded-caption top-20">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-2">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Live Demo</strong>
                </h4>
                <p>Email / Password <br> alex@farviewsoft.com / farview </p>
                <a class="btn btn-light" href="http://planoadmin-staging.planomatic.com/" target="_blank">Demo</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planoadmin">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>

<!-- PlanoAdmin Title -->
<section id="planocore"><br></section>
<section class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoCore
      <span><img width="35" src="assets/icon_rails"></span>
    </h2>
    <h4 style="text-align:center;">Session and Model Management</h4>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planocore">
  <div class="caption shaded-caption top-20">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-4">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planocore">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>


<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<!-- <section id="education" class="servicses bg-inffo vertical-padding-50" style="background-color: black; color: white;"> -->
<section id="education" class="servicses bg-inffo vertical-padding-10" style="background-color: black; color: white;">
  <div class="container">
    <!-- Education -->
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-1">
        <!-- <h2>Education</h2> -->
  </div>
  </div>
  </div>
</section>
<section id="services" class="services bg-dansger">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-1">
        <h2>Education</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6 offset-md-2">
            <div class="service-item">
              <img height="80" src="assets/gschool-logo" class="img-roundded">

              <!-- <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                <img height="100" src="assets/gschool-logo" class="img-roundded">

              </span> -->
              <br>
              <br>
              <h4>
                <strong>Galvanize</strong>
              </h4>
              <!-- <img height="100" src="assets/gschool-logo" class="img-roundded"> -->

              <p>Full-Stack Immersive</p>
              <p>2014 May - November</p>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
              <a href="https://new.galvanize.com/denver/web-development" class="btn btn-dark" target="_blank">Learn More</a>

            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <img height="80" src="assets/purdue_logo" class="img-roundded">

              <!-- <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                <img height="100" src="assets/purdue_logo" class="img-roundded">

              </span> -->
              <br>
              <br>
              <h4>
                <strong>Purdue University</strong>
              </h4>
              <!-- <img height="100" src="assets/purdue_logo" class="img-roundded"> -->
              <p>Bachelor of Science</p>
              <p>2008 - 2013</p>

              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
              <a href="http://www.physics.purdue.edu/" class="btn btn-dark" target="_blank">Learn More</a>
            </div>
          </div>

        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Footer -->
<footer class="bg-success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
        <h4><strong>Thanks For Visiting</strong></h4>
        <p>
          2605 Vine Street
          <br>Denver, C0 80205
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (310) 963-3391</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:amcritchie@gmail.com">amcritchie@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/profile.php?id=651647999" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/amcritchie" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/McRitchieAlex" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <!-- <p class="text-muted">Copyright &copy; Your Website 2014</p> -->
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
