<!-- Parallax Intro -->
<div class="parallax bg-mountains">
  <div class="text-vertical-center caption">
    <img width="160" src="assets/alex" class="img-rounded">
    <h1>Alex McRitchie</h1>
    <h3>Web Developer</h3>
    <h4>Ruby on Rails - AngularJS</h4>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</div>

<!-- Parallax Demo -->
<section id="about">
  <!-- <br> -->
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">Parallax Demo</h3>
    <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
  </div>
</section>


<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-danger">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-compass fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-flask fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-shield fa-stack-1x text-primary"></i>
              </span>
              <h4>
                <strong>Service Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


<style>
  .shaded-caption{
      background: rgba(0, 0, 0, 0.5);
  }
  .innerr{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

</style>

<!-- PlanoAdmin Title -->
<section id="planoadmin" class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoAdmin
      <span><img width="35" src="assets/angular-logo"></span>
    </h2>
    <h4 style="text-align:center;">Employee Management</h4>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planoadmin">
  <div class="caption shaded-caption top-20 vertical-padding-50">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-2">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Live Demo</strong>
                </h4>
                <p>Email / Password <br> alex@farviewsoft.com / farview </p>
                <a class="btn btn-light" href="http://planoadmin-staging.planomatic.com/" target="_blank">Demo</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planoadmin">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>

<!-- PlanoAdmin Title -->
<section id="planocore" class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoCore
      <span><img width="35" src="assets/icon_rails"></span>
    </h2>
    <h4 style="text-align:center;">Session and Model Management</h4>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planoadmin">
  <div class="caption shaded-caption top-20 vertical-padding-50">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-2">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Live Demo</strong>
                </h4>
                <p>Email / Password <br> alex@farviewsoft.com / farview </p>
                <a class="btn btn-light" href="http://planoadmin-staging.planomatic.com/">Demo</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planocore">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>




<div class="parallax">
  <div class="caption">
    <span class="border">SCROLL DOWN</span>
  </div>
</div>

<!-- Parallax Demo -->
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Parallax Demo</h3>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
        <h4><strong>Start Bootstrap</strong></h4>
        <p>
          3481 Melrose Place
          <br>Beverly Hills, CA 90210
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
