<!-- Parallax Intro -->
<div class="parallax bg-mountains">
  <div class="text-vertical-center caption">
    <img width="160" src="assets/alex" class="img-rounded">
    <h1>Alex McRitchie</h1>
    <h3>Web Developer for PlanOmatic</h3>
    <h4>Ruby on Rails - AngularJS</h4>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</div>

<!-- Parallax Demo -->
<section id="about"><br></section>
<section>
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h2 style="text-align:center;">Skills</h2>
    <p style="text-align:center;">Ruby on Rails - AngularJS - jQuery - AJAX - HTML5 - CSS3 - Bootstrap - Git - AWS - Active Record - PostgreSQL - MySQL - SQL</p>
    <br>
    <h2 style="text-align:center;">About</h2>
    <p>
      I have been a professional web developer for over two years.
      From the server to the HTML I enjoy every aspect of web development.
      I specialize in Ruby on Rails based apps using Active Record and PostgreSQL.
      When handling client side I spend most my time in AngularJS but I really enjoy the syntax of all JavaScript frameworks, including backend frameworks like NodeJS.
      I am a hard worker and believe in a comment for each line of code.
      Below are a couple examples of applications I have writen.
    </p>
    <br><br>
    <h2 style="text-align:center;">Professional Experience</h2>
    <p>
      I am currently employeed by a Digital Real Estate Photography company named PlanOmatic.
      They have tasked me with building two of their generation two software applications.
      PlanoAdmin, which is an angular frontend application used for employee management.
      The second app is PlanoCore, which acts as an API backend for all our generation two applications, including PlanoAdmin.
    </p>
    <br><br>
    <a href="#planoadmin" style="text-decoration: none; color: #777;">
      <h6 style="text-align:center; margin-bottom: -5px;">Applications</h6>
      <i style="font-size: 40px;" class="fa fa-angle-double-down fa-6 fa-stack-1x"></i>
    </a>
    <br><br>
  </div>
</section>

<!-- PlanoAdmin Title -->
<section id="planoadmin"><br></section>
<section class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoAdmin
      <span><img width="35" src="assets/angular-logo"></span>
    </h2>
    <!-- <h4 style="text-align:center;">Employee Management</h4> -->
    <h6 style="text-align:center;">
      Employee managment application built on an AngularJS frontend.
      Includes intragrations with AWS, UI Router and Bootstrap.
    </h6>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planoadmin">
  <div class="caption shaded-caption top-20">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-2">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-laptop fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Live Demo</strong>
                </h4>
                <p>Email / Password <br> alex@farviewsoft.com / farview </p>
                <a class="btn btn-light" href="http://planoadmin-staging.planomatic.com/" target="_blank">Demo</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planoadmin">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>

<!-- PlanoCore Title -->
<section id="planocore"><br></section>
<section class="vertical-padding-50 bg-primary">
  <div style="color: #fff;text-align:center;text-align: justify;">
    <h2 style="text-align:center;">PlanoCore
      <span><img width="35" src="assets/icon_rails"></span>
    </h2>
    <h6 style="text-align:center;">
      Rails API application used as a backend for PlanoAdmin and other applications.
      Includes intragrations with AWS and RMagick
    </h6>
  </div>
</section>
<!-- PlanoAdmin Parallax -->
<div class="parallax bg-planocore">
  <div class="caption shaded-caption top-20">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 col-lg-offset-3">
          <hr class="small">
          <div class="row">
            <div class="col-md-4 col-sm-6 offset-md-4">
              <div class="service-item">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-code fa-stack-1x text-primary"></i>
                </span>
                <h4>
                  <strong>Sample Code</strong>
                </h4>
                <p>This app's repository is private, but the link below has samples.</p>
                <a class="btn btn-light" href="/planocore">Code</a>
              </div>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>

<!-- Education -->
<section id="education" class="vertical-padding-10" style="background-color: black; color: white;"></section>
<section class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-1">
        <h2>Education</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-4 col-sm-6 offset-md-2">
            <div class="service-item">
              <img height="80" src="assets/gschool-logo" class="img-roundded">
              <br><br>
              <h4>
                <strong>Galvanize</strong>
              </h4>
              <p>Full-Stack Immersive</p>
              <p>May - November 2014</p>
              <a href="https://new.galvanize.com/denver/web-development" class="btn btn-dark" target="_blank">Learn More</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="service-item">
              <img height="80" src="assets/purdue_logo" class="img-roundded">
              <br><br>
              <h4>
                <strong>Purdue University</strong>
              </h4>
              <p>Bachelor of Science in Physics</p>
              <p>2008 - 2013</p>
              <a href="http://www.physics.purdue.edu/" class="btn btn-dark" target="_blank">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Footer -->
<footer class="bg-success">
  <div class="container" style="color: #fff;">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-1 text-center">
        <h2><strong>Thanks For Visiting</strong></h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:amcritchie@gmail.com">amcritchie@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/profile.php?id=651647999" target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
            <br><br>
          </li>
          <li>
            <a href="https://github.com/amcritchie" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
            <br><br>
          </li>
          <li>
            <a href="https://twitter.com/McRitchieAlex" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
            <br><br>
          </li>
        </ul>
        <hr class="small">
      </div>
    </div>
  </div>
  <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
