// Class given to parallax div.
.parallax {

  /* Set a specific height */
  min-height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* pos: rel is needed so text stays in parallax image */
  position: relative;
}

// Background of Landing Parallax
.bg-mountains{
  /* The image used */
  background-image: url("rockie_mountains.jpg");
}
// Background of PlanoAdmin Parallax
.bg-planoadmin{
  /* The image used */
  background-image: url("planoadmin_background.png");
  background-position: top;
}

// Class given to caption inside parallax.
.caption {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  // color: #000;
  color: white;
}

.caption.top-20{
  top: 20%;
}
.caption.top-10{
  top: 10%;
}
.caption.top-0{
  top: 0%;
}
